<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    
    <!-- Only the machine hosting the physical keyboard can trigger the MouseWithoutBorders shortcut.  This
         means when moving from machine2 to machien1 we need to send a network pulse to machine1 so it
         can send the shortcut keys for MWB.  The port here was chosen arbitrarily -->
    <add key="udpBroadcastPort" value="15976" />
    <!-- Can either put the PhysicalKeyboardAttachedToThisComputer's exact IP or leave the final octet as 255 to 
         have the broadcast go to all devices on your network. Useful if your IP is dhcp and can change over time.
         eg: exact machine ip: 192.168.1.45  broadcast: 192.168.1.255-->
    <add key="udpBroadcastAddress" value="192.168.1.255" />
    
    <!-- machine1 should have this set to true, machine2 would be false -->
    <add key="PhysicalKeyboardAttachedToThisComputer" value="true"/>

    <!--
      monitor input values are below. Use the number rather than the name
      VGA = 1,
      DVI = 3,
      HDMI = 4,
      YPbPr = 12,
      DisplayPort = 15
      
      The SendKeys are to trigger MouseWithoutBorders to transfer mouse/keyboard to the other computer
      The default shortcut it listens to is CTRL+ALT+F#.  Set to empty if you dont want to send keys,
      -->
    <add key="machine1_monitor1" value="3" />
    <add key="machine1_monitor2" value="3" />
    <add key="machine1_monitor3" value="15" />
    <add key="machine1_monitor4" value="1" />
    <add key="sendKeysWhenSwitchingToMachine1" value="^%{F1}" />
    
    <add key="machine2_monitor1" value="15" />
    <add key="machine2_monitor2" value="1" />
    <add key="machine2_monitor3" value="15" />
    <add key="machine2_monitor4" value="1" />
    <add key="sendKeysWhenSwitchingToMachine2" value="^%{F2}" />
  </appSettings>
</configuration>